{{!< default}}

{{#post}}
{{#if @site.logo}}
<a href="{{@site.url}}">
	<img src="{{@site.logo}}" alt="{{@site.title}}">
</a>
{{/if}}

<div class="{{post_class}}">
	<h1>{{title}}</h1>
	{{content}}
</div>
{{/post}}